ion-icon {
  display: block;
  margin: auto;
}

ion-button {
  display: block;
  width: 100%;
  margin: auto;
  margin-top: 10px;
}

#container {
  padding: 10px;
}

p {
  text-align: center;
  font-size: 14px;
  color: var(--ion-color-primary);
  margin-top: 5px;
}